@import "mixins.less";

.a3-lazyload-addons-tab-wrap {
	.extension-card {
		float: right;
		margin: 10px 0 10px 20px;

		h3 {
			padding: 20px 120px 0 10px;

			span.extension-title {
				left: auto;
				right: 10px;
			}
		}

		.free-extension {
			bottom: 10px;
			left: 10px;
			right: auto;
		}
	}
}